.grid-container{
  display: grid;  
  grid-template-rows: auto;
  background-color: azure;
  height: 80%;
  gap:auto;
}
.row{
  display: inline-flex;
  padding: 5px;
  height: 50px;

}
.column {

  color: #555;
  padding: 8px 16px;
}